In [1]:

import pandas as pd
import yfinance as yf

df_yahoo =  yf.download('AAPL',
start='2020-01-01',
end='2020-06-30',
progress=False)

df_yahoo.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-12-31  72.482498  73.419998  72.379997  73.412498  72.783936  100805600
2020-01-02  74.059998  75.150002  73.797501  75.087502  74.444603  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  73.720840  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  74.308266  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  73.958794  108872000